:root {
  --primary: #7e4ef8;
  --secondary: #b46cf9;
  --tertiary: #d69cfb;
  --accent: #e0d4ff;

  --background-light: #F5F5F5;
  --background-dark: #181a1b;
  --text-dark: #2E2E2E;
  --text-info: #B0B0B0;
  --text-light: #FFFFFF;
  --border-light: #E0E0E0;
  --border-dark: #3A3A3A;

  --accent-white: #FFFFFF;
  --accent-yellow: #FFF176;
  --accent-pink: #d69cfb;

  /* Gradientes suavizados y con más contraste */
  --gradient-primary: linear-gradient(180deg, #d69cfb 0%, #b46cf9 50%, #7e4ef8 100%);
  --gradient-secondary: linear-gradient(180deg, #f8c3ff 0%, #e9a7ff 40%, #d890ff 70%, #c578ff 100%);
  --gradient-mixed: linear-gradient(135deg, #7e4ef8 0%, #b46cf9 50%, #d69cfb 100%);
  --gradient-dark: linear-gradient(180deg, #141516 0%, #1c1d20 100%);

  --shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 4px 12px rgba(0, 0, 0, 0.3);

  --button-primary-bg: var(--primary);
  --button-primary-text: var(--accent-white);
  --button-hover-bg: var(--secondary);
}


* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.container {
  padding: 0;
  margin: 0;
  flex: 1;
   position: "relative"
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}